
html { 
  background:  url(./assets/andrew-charney-3tW2GR0KAd8-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
