.campsite {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.user_info {
  display: flex;
  flex-flow: column;
  width: fit-content;
  margin-right: 15px;
  justify-content: center;
  align-content: center;
}

.user_info > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: rgba(187, 187, 187, 1);
}

.post_user_info > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: rgba(187, 187, 187, 1);
}

.user_info > p {
  align-self: center;
}

.form_div {
  margin-left: 20px;
}

.campsite_form > textarea {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 150px;
  background: none;
  color: rgba(255, 255, 255, 0.55);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 54px;
  text-align: center;
  border: 1px solid rgba(255, 254, 254, 0.55);
  box-sizing: border-box;
  background-color: rgba(187, 187, 187, 0.666);
}


.post_form {
  display: flex;
  flex-flow: row;
  width: 800px;
  min-width: 400px;
  height: 400px;
  margin-bottom: 50px;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    92.55deg,
    rgba(255, 254, 254, 0.4) 37.62%,
    rgba(255, 255, 255, 0.1) 59.33%
  );
  box-shadow: 0px 4.58462px 27.5077px -1.14615px rgba(0, 0, 0, 0.2),
    0px 4.58462px 27.5077px -1.14615px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(45.8461px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 45.8461px;
}

.post_create_btn {
  width: 197px;
  height: 53px;
  margin-left: 100px;
  font-size: 25px;
  line-height: 34px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  background: linear-gradient(
    92.55deg,
    rgba(255, 254, 254, 0.4) 37.62%,
    rgba(255, 255, 255, 0.1) 59.33%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2),
    0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
}

.post_div {
  display: flex;
  flex-flow: row;
  width: 800px;
  height: 250px;  
  min-width: 400px;
  margin-bottom: 50px;
  background: linear-gradient(92.55deg, rgba(255, 254, 254, 0.4) 37.62%, rgba(255, 255, 255, 0.1) 59.33%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2), 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 40px;
}

.post_user_info {
  align-self: center;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 50px;
}

.post_info > p {
  margin-top: 120px;
  margin-left: 150px;
}

.interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.interactions_btn {
  background: none;
  border: none;
}